<html>
<head>
    <title>Synical</title>
    <link rel="stylesheet" href="/static/dist/out.css">
</head>

<body class="bg-gray-200 min-h-screen flex flex-col">

    <h1 class="text-black font-bold pt-20 pb-6 text-center
               text-4xl sm:text-6xl lg:text-7xl">
        Welcome to Synical!
    </h1>

    <div class="bg-transparent border-2 p-6 sm:p-10 rounded-lg shadow-md
                w-full max-w-2xl mx-auto mt-4 mb-20">

        <div class="text-center text-xl sm:text-2xl p-6">
            <span>Create beautiful wallpapers that carry the essence of </span>
            <span class="bg-clip-text text-transparent text-3xl sm:text-4xl font-bold italic
                         bg-linear-to-r from-red-700 to-violet-700">
                music.
            </span>
        </div>

        <form class="flex flex-col gap-4" action="/upload" method="POST" enctype="multipart/form-data">
            <label for="audio-file" class="font-medium">Select a song:</label>
            <input class="btn" type="file" id="audio-file" name="file" accept="audio/*">
            <button class="btn">Create Wallpaper</button>
        </form>
    </div>

    <footer
        class="w-full text-lg bg-white/50 backdrop-blur-sm border-t p-6 text-center shadow-md 
               mt-auto
               sm:fixed sm:bottom-0 sm:left-0">
        <span>Built by</span>
        <a class="font-bold hover:underline hover:text-transparent hover:bg-clip-text 
                  hover:bg-linear-to-r from-red-500 to-blue-500"
           href="https://github.com/slantsh">slantsh</a>
    </footer>

</body>
</html>